body {
  font-family: Arial, sans-serif;
  background-color: #f0f0f0;
  display: flex;
  flex-direction: column;
  align-items: center;
}

.form-sign {
  width: 300px;
  margin: 50px auto;
  padding: 20px;
  background-color: #ffffff;
  border: 1px solid #ddd;
  border-radius: 10px;
  box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
}

.form-sign h1 {
  color: #5024d1;
  text-align: center;
  margin-bottom: 20px;
}

.form-sign label {
  display: block;
  margin-bottom: 10px;
  color: #b2b3b7;
}

.form-sign input[type="text"],
.form-sign input[type="password"] {
  width: 100%;
  height: 40px;
  margin-bottom: 20px;
  padding: 10px;
  border: 1px solid #ccc;
  border-radius: 5px;
}

.form-sign input[type="submit"] {
  width: 100%;
  height: 40px;
  background-color: #5024d1;
  color: #ffffff;
  border: none;
  border-radius: 5px;
  cursor: pointer;
}

.form-sign input[type="submit"]:hover {
  background-color: #4b2dbf;
}

.form-sign a {
  text-decoration: none;
  color: #b2b3b7;
  display: block;
  margin-top: 20px;
  text-align: center;
}

.form-sign a:hover {
  color: #5024d1;
}

/* Ajout de styles pour les messages d'erreur et de succès */
.form-sign h1.error {
  color: #ff0000;
  text-align: center;
  margin-bottom: 20px;
}

.form-sign h1.success {
  color: #00ff00;
  text-align: center;
  margin-bottom: 20px;
}
